@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/chrome\/mondo\/app\/styles\/options\.scss}line{font-family:\000031}}
body {
  min-width: 357px;
  overflow-x: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/chrome\/mondo\/app\/styles\/options\.scss}line{font-family:\000036}}
img {
  margin: 5px;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  vertical-align: middle;
  width: 75px;
  height: 75px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/chrome\/mondo\/app\/styles\/options\.scss}line{font-family:\0000314}}
div.save {
  padding-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/chrome\/mondo\/app\/styles\/options\.scss}line{font-family:\0000317}}
div.save button {
  font-size: 14px;
}
